# Check with 'circleci config validate'
version: 2
jobs:
  build:
    working_directory: ~/pepper

    docker:
      - image: circleci/openjdk:11-stretch-node-browsers 

    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "pom.xml" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-
      # https://stackoverflow.com/questions/29712865/maven-cannot-resolve-dependency-for-module-in-same-multi-module-project
      - run: mvn clean install -DskipTests
      - run: mvn dependency:resolve-plugins dependency:go-offline
      - save_cache:
          paths:
            - ~/.m2
          key: v1-dependencies-{{ checksum "pom.xml" }}
      
      - run: mvn package -DskipTests

  test:
    working_directory: ~/pepper

    docker:
      - image: circleci/openjdk:11-stretch-node-browsers 

    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "pom.xml" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-
      - run: mvn clean test
      - save_cache:
          paths:
            - ~/.m2
          key: v1-dependencies-{{ checksum "pom.xml" }}
      
      - run: mvn package
      
      - store_test_results:
          path: target/surefire-reports
          
      - run: mvn surefire-report:report

      - store_artifacts:
          path: target/site
          destination: test-reports

workflows:
  version: 2
  build_and_test:
    jobs:
      - build
      - test
      